<?php
// @codingStandardsIgnoreFile
/** @var \RedboxDigital\Linkedin\Block\Widget\Profile $block */
?>
<div class="field linkedin_profile <?= $block->isRequired() ? 'required' : '' ?>">
    <label for="linkedin_profile" class="label">
        <span>
            <?= $block->escapeHtml(__('LinkedIn Profile')) ?>
        </span>
    </label>
    <div class="control">
        <input type="text"
               name="linkedin_profile"
               id="linkedin_profile"
               value="<?= $block->escapeHtmlAttr($block->getLinkedinProfile()) ?>"
               title="<?= $block->escapeHtmlAttr(__('LinkedIn Profile')) ?>"
               class="input-text <?= $block->isRequired() ? 'required-entry validate-url' : '' ?>"
            >
    </div>
</div>
